.NewLetter{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg , #fde1ff , #e1ffea22);
    gap: 30px;
}

.NewLetter h1 {
    color: #171717;
    font-size: 55px;
    font-weight: 600;
}
.NewLetter h1 {
    color: #1717175b;
    font-size: 20px;
}
.NewLetter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    display: flex;
    align-items: center;
    width: 730px;
    height: 70px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
}
.NewLetter input{
    width: 500px;
    border: none;
    outline: none;
    margin-left: 30px;
    color: #616161;
    font-size: 16px;
}
.NewLetter button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    width: 210px;
    height: 70px;
    border: none;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}