.Newcolection {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;

}

.Newcolection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.Newcolection hr {
    width: 200px;
    height: 15px;
    border-radius: 10px;
    background: black;
    font-weight: bold;
}

.Newcolection_item {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    flex-direction: row;
    margin-top: 50px;
    gap: 30px;
}